# Libraries

In [65]:
import pandas as pd
import matplotlib.pyplot as plt

# Data

In [66]:
# Load data from CSV into a DataFrame
df = pd.read_csv('data.csv')

# Show the first 5 rows
df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [67]:
# Remove the 'LoanID' column
df = df.drop(columns='LoanID')

# Relabel the 'Default' column from 0, 1 to 'NoDefault' and 'Default'
df['Default'] = df['Default'].replace({0: 'NonDefault', 1: 'Default'})

# Show the first 5 rows
df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,NonDefault
1,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,NonDefault
2,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,Default
3,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,NonDefault
4,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,NonDefault

In [68]:
# Print the number of observations and variables in the DataFrame
print(f'Number of observations: {df.shape[0]}')
print(f'Number of variables: {df.shape[1]}')

Number of observations: 255347
Number of variables: 17

In [69]:
# Check for missing values in each variable
df.isnull().sum()

Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [70]:
# List of categorical variables
categorical_variables = [
    'Education',
    'EmploymentType',
    'MaritalStatus',
    'HasMortgage',
    'HasDependents',
    'LoanPurpose',
    'HasCoSigner',
    'Default'
]

# Output unique labels in each categorical variable
for variable in categorical_variables:
    print(f'{variable}: {df[variable].unique()}')
    print()  # Add a blank line for readability

Education: ["Bachelor's" "Master's" 'High School' 'PhD']

EmploymentType: ['Full-time' 'Unemployed' 'Self-employed' 'Part-time']

MaritalStatus: ['Divorced' 'Married' 'Single']

HasMortgage: ['Yes' 'No']

HasDependents: ['Yes' 'No']

LoanPurpose: ['Other' 'Auto' 'Business' 'Home' 'Education']

HasCoSigner: ['Yes' 'No']

Default: ['NonDefault' 'Default']